{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %} {% load auth_extras %}

<div class="col-1">
    {% include 'vaccinerecordapp/staff-navbar.html' %}
  </div>
<div class="container">

    <form method="post">
        <div class="modal-body" style="color: black">
            {% csrf_token %}
            <center>
            <br />
            <h2> Due Vaccines
            </h2>
            </center>
            <br />
                <div style="width: 70%; margin-left: 15%; margin-right: 15%">
                  <table class="table table-borderless table-md">
                      <tr>
                        <td>Enter date
                        <input type="date" id="date" name="date">
                        </td>
                        <td><button id="submit_button" type="submit" class="btn btn-primary">Enter</button></td>
                      </tr>
                    </table>
                    
                </div> 
            <div>
            </div>   
        </div>
    </form>

<div class="row">
    <table  class="table table-primary table-striped table-bordered table-sm table-hover">
				
        <tr>
            <th>Record #</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
        </tr>
        {% for patient in patients %}
        
        <tr>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.id}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.first_name}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.last_name}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.bday|date:"m/d/Y"}}</a></td>
        </tr>
        {% endfor %}
    </table>

    <table class="table table-primary table-striped table-bordered table-sm table-hover">				
        <tr>
            <th>Vaccine</th>
        </tr>
        {% for vaccine in vaccines %}
        
        <tr>
            <td>{{vaccine}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

{% endblock %}