{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %} {% load auth_extras %}

<div class="col-1">
    {% include 'vaccinerecordapp/staff-navbar.html' %}
  </div>
<div class="container">
    <div class="row">
	<div class="col-sm-4">
		<div class="card card-body" style="width: 20rem;">
			<h3 class="card-title">Reminder</h3>
			<br />
				<div class="mb-3"><label for="floatingInput1">Record No.:</label>
				<input class="form-control form-control-sm" id="floatingInput1" type="number" placeholder="Record No." aria-label=".form-control-sm example" name="id">
				</div>
				<div class="mb-3"><label for="floatingInput2">Date of Birth:</label>
				<input class="form-control form-control-sm" id="floatingInput2" type="text" placeholder="mm/dd/yyyy" aria-label=".form-control-sm example" name="bday">
				</div>
				<div class="mb-3"><label for="floatingInput3">First Name:</label>
				<input class="form-control form-control-sm" id="floatingInput3" type="text" placeholder="First Name" aria-label=".form-control-sm example" name="first_name">
				</div>
				<div class="mb-3"><label for="floatingInput4">Last Name:</label>
				<input class="form-control form-control-sm" id="floatingInput4" type="text" placeholder="Last Name" aria-label=".form-control-sm example" name="last_name">
				</div>
		</div>
	</div>


<div class="row">
    <table  class="table table-primary table-striped table-bordered table-sm table-hover">
				
        <tr>
            <th>Record #</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
        </tr>
        {% for patient in patients %}
        
        <tr>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.id}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.first_name}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.last_name}}</a></td>
            <td> <a href="{% url 'reminder-vaccines' patient.id %}" >{{patient.bday|date:"m/d/Y"}}</a></td>
        </tr>
        {% endfor %}
    
    </table>
    <table class="table table-primary table-striped table-bordered table-sm table-hover">
				
        <tr>
            <th>Vaccine</th>
            <th>Date Given</th>
        </tr>
        {% for vaccine in vaccines %}
        
        <tr>
            <td>{{vaccine}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <form method="post">
        <div class="modal-body" style="color: black">
            {% csrf_token %}
            <center>
            <br />
            <h2> Due Vaccines
            </h2>
            </center>
            <br />
                <div style="width: 70%; margin-left: 15%; margin-right: 15%">
                  <table class="table table-borderless table-md">
                      <tr>
                        <td>Enter date
                        <input type="date" id="date" name="date">
                        </td>
                      </tr>
                    </table>
                    <button id="submit_button" type="submit" class="btn btn-primary">Enter</button>
                </div> 
            <div>
            </div>   
        </div>
    </form>


<!-- create button -->
<div class="col-sm-8">

    <!-- search results -->
    <div class="card card-body">
        <h5 class="card-title">Results
        </h5>
        <table class="table table-primary table-striped table-bordered table-sm table-hover">
            
                <tr>
                    <th>Record #</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                </tr>
                {% if notExist != "" %}
                <h3>{{notExist}}</h3>
                {% endif %}

                {% for patient in patients %}
                
                <tr>
                    <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.id}}</a></td>
                    <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.first_name}}</a></td>
                    <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.last_name}}</a></td>
                    <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.bday|date:"m/d/Y"}}</a></td>
                </tr>
                {% endfor %}

        </table>
</div>





{% endblock %}