{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/staff.css' %}"/>


<p style="background-color:hsla(198, 13%, 85%, 0.89); padding-left: 1%;">
        Create a New Staff
</p>

<div class="container-fluid">
  <div class="row">
    <!-- Navbar -->
    <div class="col-1">
      {% include 'vaccinerecordapp/staff-navbar.html' %}
    </div>

    <div class="col-11">
      <form action="{% url 'create-staff' %}" method="post">
          <div class="modal-body" style="color: black">
              {% csrf_token %}
              <center>
              <br />
              <h2> Create Staff Account
              </h2>
              </center>
              <br />
                  <div style="width: 70%; margin-left: 15%; margin-right: 15%">
                    <table class="table table-borderless table-md">
                        <tr>
                          <td>First Name {{form1.first_name}}</td>
                          <td>Last Name {{form1.last_name}}</td>
                        </tr>
                        <tr>
                          <td>Username {{form1.username}}</td>
                          <td>Email {{form1.email}}</td>
                        </tr>
                        <tr>
                          <td>Password {{form1.password1}}</td>
                        </tr>
                        <tr>
                          <td>Confirm Password {{form1.password2}}</td>
                        </tr>
                        <tr>
                          <td>Prefix {{form2.prefix}}</td>
                          <td>Title {{form2.title}}</td>
                        </tr>
                        <tr>
                          <td>Contact Number {{form2.contact}}</td>
                          <td>Type {{form2.type}}</td>
                        </tr>
                        <tr>
                          <td>End Date {{form2.end_date}}</td>
                          <td class="align-middle">Can Register {{form2.can_register}}</td>
                        </tr>
                      </table>
                  </div>
              <div>
                {% for message in messages %} {% if message.tags == 'success' %}
                {% else %}
                {{message | striptags}}
                {% endif %} {% endfor %}
              </div>
              <div class="modal-footer">
                <a href="{% url 'tool'%}"><button type="button" class="btn btn-secondary">Cancel</button></a>
                <button id="submit_button" type="submit" class="btn btn-primary">Create Account</button>
              </div>
              
          </div>
      </form>
</div>
</div>
</div>
<br />
<br />
<br />



{% endblock %}