{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %} {% load auth_extras %}

<p style="background-color:hsla(198, 13%, 85%, 0.89); padding-left: 1%;">
    Due Vaccines By Group
  </p>
  
  <div class="container-fluid">
      <div class="row">
        <!-- Navbar -->
        <div class="col-1">
          {% include 'vaccinerecordapp/staff-navbar.html' %}
        </div>
          <br><br>
      
      <div class="col-11">
          <div class="card border-info" style="margin-left: 5%; margin-right: 5%">
              <div class="card-body">
                <div>
                    <br><br>
                    <form method="get">
                      <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                          <div class="input-group">
                          <span class="input-group-text">From:</span>
                          <input type="text" class="form-control" id="from" placeholder="mm/dd/yyyy" aria-label="mm/dd/yyyy">
                          </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                          <div class="input-group">
                          <span class="input-group-text">To:</span>
                          <input type="text" class="form-control" id="to" placeholder="mm/dd/yyyy" aria-label="mm/dd/yyyy">
                          </div>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="col-sm-3">
                          <button class="btn btn-secondary" type="submit">
                          <i class="fas fa-search"></i>
                          Find</button></div>
                      </div>
                      
                    </form>
                <br>
                </div>
                <div>
                    <table class="table table-bordered table-sm border-dark text-center">
                      <tr>
                        <td colspan="2"></td>
                        <td class="table-secondary border-dark text-center " colspan="2">w/ Appointments</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="table-secondary border-dark"><b>Vaccine</b></td>
                        <td class="table-secondary border-dark"><b>No. of Patients</b></td>
                        <td class="table-secondary border-dark"><b>Confirmed</b></td>
                        <td class="table-secondary border-dark"><b>Not Confirmed</b></td>
                        <td class="table-secondary border-dark"><b>No Appointments</b></td>
                      </tr>
                      <tr>
                        <td>BCG</td>
                        <td>{{bcg_total}}</td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{bcg_no}}</td>
                      </tr>
                      <tr>
                        <td>Hepatitis B</td>
                        <td>{{hepb_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{hepb_no}}</td>
                      </tr>
                      <tr>
                        <td>DTaP/DTwP</td>
                        <td>{{dtap_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{dtap_no}}</td>
                      </tr>
                      <tr>
                        <td>OPV/IPV</td>
                        <td>{{opv_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{opv_no}}</td>
                      </tr>
                      <tr>
                        <td>Hib</td>
                        <td>{{hib_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{hib_no}}</td>
                      </tr>
                      <tr>
                        <td>PCV</td>
                        <td>{{pcv_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{pcv_no}}</td>
                      </tr>
                      <tr>
                        <td>Rotavirus</td>
                        <td>{{rota_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{rota_no}}</td>
                      </tr>
                      <tr>
                        <td>Measles</td>
                        <td>{{msl_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{msl_no}}</td>
                      </tr>
                      <tr>
                        <td>MMR</td>
                        <td>{{mmr_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{mmr_no}}</td>
                      </tr>
                      <tr>
                        <td>Varicella</td>
                        <td>{{var_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{var_no}}</td>
                      </tr>
                      <tr>
                        <td>Influenza</td>
                        <td>{{inf_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{inf_no}}</td>
                      </tr>
                      <tr>
                        <td>Annual Flu</td>
                        <td>{{flu_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{flu_no}}</td>
                      </tr>
                      <tr>
                        <td>Jap Encephalitis B</td>
                        <td>{{jap_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{jap_no}}</td>
                      </tr>
                      <tr>
                        <td>Hepatitis A</td>
                        <td>{{hepaa_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{hepaa_no}}</td>
                      </tr>
                      <tr>
                        <td>Meningococcal</td>
                        <td>{{mcc_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{mcc_no}}</td>
                      </tr>
                      <tr>
                        <td>Typhoid</td>
                        <td>{{typ_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{typ_no}}</td>
                      </tr>
                      <tr>
                        <td>Tdap</td>
                        <td>{{tdap_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{tdap_no}}</td>
                      </tr>
                      <tr>
                        <td>HPV</td>
                        <td>{{hpv_total}}</td>
                        <td>2</td>
                        <td>3</td>
                        <td>{{hpv_no}}</td>
                      </tr>
                      <tr>
                        <td>Others</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                      </tr>
                    </table>
                    </div>
              </div>
          </div>
      </div>
    </div>
          <br><br><br><br><br>
  </div>    
















{% endblock %}