{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %}

<br />
<br />
<div class="container-fluid">
  <div class="row">
    <!-- Profile -->
    <div class="col">
      <center>
      <h3>New Patient Record</h3>
    </center>
      <br>
  
      <!-- Create Profile -->
      <div class="card" style="margin-left: 5%; margin-right: 5%">
          <h5 class="card-header">Create Patient Profile</h5>
          <div class="card-body">
            <form action="{% url 'create-record' username %}" method="post">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button id="submit_button" type="submit" class="btn btn-success">Create Record</button>
              </div>
              <br />
              {% csrf_token %}
              <div>
                <table class="table table-bordered align-middle">
                  <tr>
                    <td class="table-warning"><b>NAME</b></td>
                    <td class="table-warning">Nickname:</td>
                    <td class="table-light">{{form.nick_name}}</td>
                    <td class="table-warning" colspan="2">Attending Doctor:<span style="color: red;">*</span></td>
                    <td class="table-light" colspan="2">{{ form.doctor_assigned }}</td>
                    <td class="table-warning" colspan="3"></td>
                  </tr>
                  <tr>
                    <td class="table-warning">First:<span style="color: red;">*</span></td>
                    <td class="table-light">{{form.first_name}}</td>
                    <td class="table-warning">Last:<span style="color: red;">*</span></td>
                    <td class="table-light" colspan="2">{{ form.last_name }}</td>
                    <td class="table-warning">Middle:</td>
                    <td class="table-light" colspan="2">{{ form.middle_name }}</td>
                    <td class="table-warning">Suffix:</td>
                    <td class="table-light">{{ form.suffix }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">Sex:<span style="color: red;">*</span></td>
                    <td class="table-light">{{ form.gender }}</td>
                    <td class="table-warning">Date of Birth:<span style="color: red;">*</span></td>
                    <td class="table-light" colspan="3">{{ form.bday }}</td>
                    <td class="table-warning">Age:<span style="color: red;">*</span></td>
                    <td class="table-light" colspan="3">{{ form.age }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning"><b>CONTACT #</b></td>
                    <td class="table-warning">Mobile:</td>
                    <td class="table-light" colspan="2">{{ form.mobile }}</td>
                    <td class="table-warning">Landline:</td>
                    <td class="table-light" colspan="2">{{ form.landline }}</td>
                    <td class="table-warning">Email:</td>
                    <td class="table-light" colspan="2">{{ form.email }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning"><b>ADDRESS</b></td>
                    <td class="table-warning">House/Unit No./Street:</td>
                    <td class="table-light" colspan="4">{{ form.home_no }}</td>
                    <td class="table-warning">Barangay:</td>
                    <td class="table-light" colspan="3">{{ form.brgy }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">City:</td>
                    <td class="table-light">{{ form.city }}</td>
                    <td class="table-warning">Province:</td>
                    <td class="table-light" colspan="2">{{ form.province }}</td>
                    <td class="table-warning">Region:</td>
                    <td class="table-light" colspan="2">{{ form.region }}</td>
                    <td class="table-warning">Zip Code:</td>
                    <td class="table-light">{{ form.zip_code }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning" colspan="10"><b>PARENT INFORMATION</b></td>
                  </tr>
                  <tr>
                    <td class="table-warning">Mother:</td>
                    <td class="table-light">{{ form.fname_mom }}</td>
                    <td class="table-light" colspan="2">{{ form.lname_mom }}</td>
                    <td class="table-warning">Contact #:</td>
                    <td class="table-light" colspan="2">{{ form.contact_mom }}</td>
                    <td class="table-warning">Email:</td>
                    <td class="table-light" colspan="2">{{ form.email_mom }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">Father</td>
                    <td class="table-light">{{ form.fname_dad }}</td>
                    <td class="table-light" colspan="2">{{ form.lname_dad}}</td>
                    <td class="table-warning">Contact #:</td>
                    <td class="table-light" colspan="2">{{ form.contact_dad}}</td>
                    <td class="table-warning">Email:</td>
                    <td class="table-light" colspan="2">{{ form.email_dad }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning" colspan="2"><b>EMERGENCY CONTACT</b></td>
                    <td class="table-warning" colspan="8">
                      <div class="form-check">
                        <label class="form-check-label" for="flexCheckDefault">
                          Same as parent information</label>
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-warning">Name:</td>
                    <td class="table-light">{{ form.fname_e1 }}</td>
                    <td class="table-light" colspan="2">{{ form.lname_e1 }}</td>
                    <td class="table-warning">Relation:</td>
                    <td class="table-light" colspan="2">{{ form.relation_e1 }}</td>
                    <td class="table-warning">Contact #:</td>
                    <td class="table-light" colspan="2">{{ form.contact_e1 }}</td>
                  </tr>
                  <tr>
                    <td class="table-warning">Name:</td>
                    <td class="table-light">{{ form.fname_e1 }}</td>
                    <td class="table-light" colspan="2">{{ form.lname_e2 }}</td>
                    <td class="table-warning">Relation:</td>
                    <td class="table-light" colspan="2">{{ form.relation_e2 }}</td>
                    <td class="table-warning">Contact #:</td>
                    <td class="table-light" colspan="2">{{ form.contact_e2 }}</td>
                  </tr>
                </table>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div> 
<br>
<br>  
 {% for message in messages %} {% if message.tags == 'success' %}
    
          {% else %}
          {{message | striptags}}
          {% endif %} {% endfor %}

{% endblock %}