{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %} {% load auth_extras %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}"/>
</head>
<body>
    {% if request.user|has_group:"staff"%}
    <br>
    <a class="btn btn-lg btn-info"  href="{% url 'confirm-appointments' %}" style="color: black">Confirm Appointments</a>
    {% if count == 0 %}
        <div id = "noAppointment">
            <span><i class ="fas fa-calendar-check fa-3x"></i></span>
            <h1>No Appointment for Today!</h1>
        </div>
    {% else %}
        <h1>Unconfirmed Appointments</h1>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Appointment No#</th>
                <th scope="col">Patient username</th>
                <th scope="col">Time of Appointment</th>
                <th scope="col">Date of Appointment</th>
                <th scope="col">Doctor Assigned</th>
                <th scope="col">Type of Visit</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}

        <tr>
            <td> <a>{{appointment.id}}</a></td>
            <td> <a>{{appointment.patient_username}}</a></td>
            <td> <a>{{appointment.time}}</a></td>
            <td> <a>{{appointment.date}}</a></td>
            <td> <a>{{appointment.doctor}}</a></td>
            <td> <a>{{appointment.visit}}</a></td>
            <td> <a>{{appointment.location}}</a></td>
            <td> <span style="color: red">{{appointment.stat}}</span></td>
        </tr>

        {% endfor %}
        </tbody>
        </table>
    {% endif %}

    {% if count == 0 %}
        <div id = "noAppointment">
            <span><i class ="fas fa-calendar-check fa-3x"></i></span>
            <h1>No Confirmed Appointments</h1>
        </div>
    {% else %}
        <h1>Confirmed Appointments</h1>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Appointment No#</th>
                <th scope="col">Patient username</th>
                <th scope="col">Time of Appointment</th>
                <th scope="col">Date of Appointment</th>
                <th scope="col">Doctor Assigned</th>
                <th scope="col">Type of Visit</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for cappointment in cappointments %}

        <tr>
            <td> <a>{{cappointment.id}}</a></td>
            <td> <a>{{cappointment.patient_username}}</a></td>
            <td> <a>{{cappointment.time}}</a></td>
            <td> <a>{{cappointment.date}}</a></td>
            <td> <a>{{cappointment.doctor}}</a></td>
            <td> <a>{{cappointment.visit}}</a></td>
            <td> <a>{{cappointment.location}}</a></td>
            <td> <span style="color: green">{{cappointment.stat}}</span></td>
        </tr>

        {% endfor %}

        </tbody>
        </table>
        {% endif %}
        {% endif %}
        {% if request.user|has_group:"doctor"%}
        {% if count == 0 %}
        <div id = "noAppointment">
            <span><i class ="fas fa-calendar-check fa-3x"></i></span>
            <h1>No Appointment for Today!</h1>
        </div>
        {% else %}
        <h1>Appointments today:</h1>
        <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Appointment No#</th>
                <th scope="col">Patient username</th>
                <th scope="col">Time of Appointment</th>
                <th scope="col">Date of Appointment</th>
                <th scope="col">Doctor Assigned</th>
                <th scope="col">Type of Visit</th>
                <th scope="col">Location</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointments %}

        <tr>
            <td> <a>{{appointment.id}}</a></td>
            <td> <a>{{appointment.patient_username}}</a></td>
            <td> <a>{{appointment.time}}</a></td>
            <td> <a>{{appointment.date}}</a></td>
            <td> <a>{{appointment.doctor}}</a></td>
            <td> <a>{{appointment.visit}}</a></td>
            <td> <a>{{appointment.location}}</a></td>
            <td><span style="color: green">{{appointment.stat}}</span> </td>
        </tr>

        {% endfor %}


        
        </tbody>
        </table>
        {% endif %}
        {% endif %}
</body>



{%endblock%}