{% load static %} {% load auth_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
  </head>
<body style="background-color:#f2f7fa">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light" style="background-color: #1fbcff">
        <div class="container-fluid">
          <div class = "topnav-left">
            <a class="navbar-brand"{% if request.user|has_group:"staff" or request.user|has_group:"doctor" %} href="{% url 'dashboard' %}"{% endif %}><i class="fas fa-baby"></i></a>
            <a class="navbar-brand"{% if request.user|has_group:"staff" or request.user|has_group:"doctor" %} href="{% url 'dashboard' %}"{% endif %}>BaQna</a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="topnav-right" id="navbarSupportedContent" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user|has_group:"staff" or request.user|has_group:"doctor" %}
              <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="{% url 'search-patient' %}">
                 <i class="fas fa-user"></i>
                 Patient
                </a> 
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url 'tool' %}">
                  <i class="fas fa-tools"></i>
                  Tool
                </a>
              </li>
              {% endif %}
              
              {% if user.is_authenticated %}
                <li class = "nav-item">  
                  {% if request.user|has_group:"staff" or request.user|has_group:"doctor" %}
                  <a class = "nav-link active" href="{% url 'own-profile'  %}">
                    <i class="fas fa-user-circle"></i>
                    {% if request.user|has_group:"doctor" %}
                      Dr. {{ user.username }}
                    {% else %}
                      {{ user.username }}
                    {% endif %}
                  </a>
                  {% else %}
                  <a class = "nav-link active" href="#">
                    <i class="fas fa-user-circle"></i>
                    {{ user.username }}
                  </a>
                  {% endif %}
                </li>
                <li class = "nav-item">  
                  <a class="nav-link active" href="{% url 'logout'%}">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                </li>
              {% endif %}
            </ul>

            <!-- <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
          </div>
        </div>
      </nav>

      {% block content %}

      {% endblock %}
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>