{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %}

<p style="background-color:hsla(198, 13%, 85%, 0.89); padding-left: 1%;">
  {{ record.first_name|upper }} {{ record.last_name|upper }}  |  ({{record.nick_name|upper}})  |  {{years|upper}} Years {{months|upper}} Months {{days|upper}} Days | {{ record.gender|upper }} | {{ record.bday|upper }}
</p>

<div class="container-fluid">
    <div class="row">
      <!-- Navbar -->
      <div class="col-1">
        {% include 'vaccinerecordapp/patient-navbar.html' %}
      </div>
        <br><br>
    
    <div class="col-11">
        <div class="card border-info" style="margin-left: 5%; margin-right: 5%">
          <h5 class="card-header">Welcome! {{request.user.username|upper}}. </h5>
            <div class="card-body">
                Hi! This is from the [Clinic Name/Location] of [Name of Doctor] reminding you of your child’s vaccination schedule this [Date mm/dd/yyy] at [Time 00:00AM/PM]. Your child is due for [vaccine name]. Please reply CONFIRM to finalize your booking appointment. If you need to reschedule, message [contact number]. 	
            </div>
        </div>
    </div>
  </div>
        <br><br><br><br><br>
</div>    


{% endblock %}