{% extends 'vaccinerecordapp/navbar.html' %} 
{% block content %} {% load static %}
<!--<table>
    <tr>
      <th>
        {% include 'vaccinerecordapp/patient-navbar.html' %}
      </th>
      <th>
        <ul class="nav flex-column">
          <li>
            <button
          class="btn btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#create-patient"
          style="color: black"
          > Create Patient Account </button>
          </li>
        </ul>
      </th>
    </tr>
  </table>
-->
<a class="btn"href="{% url 'register-patient' %}">Create Patient</a>
  <div class="modal fade" id="create-patient">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'create-patient' %}" method="post">
            <div class="modal-body" style="color: black">
                {% csrf_token %}
                <center>
                <br />
                <h2> Create Patient Account
                </h2>
                </center>
                <br />

                <div class="row" style="margin-left: 15%; margin-right: 15%">
                <div class="col">Enter First Name: {{form1.first_name}}</div>
                <div class="col">Enter Last Name: {{form1.last_name}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Relationship: {{form2.relationship}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Username: {{form1.username}}</div>
                <div class="col">Enter Email: {{form1.email}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Password: {{form1.password1}}</div>
                </div>
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Confirm Password: {{form1.password2}}</div>
                </div>
                <br />
                <br />
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="submit_button" type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  {% for message in messages %} {% if message.tags == 'success' %}

      {% else %}
      {{message | striptags}}
      {% endif %} {% endfor %}


{% endblock %}