{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %}

<form action="{% url 'register-patient' %}" method="post">
    <div class="modal-body" style="color: black">
        {% csrf_token %}
        <center>
        <br />
        <h2> Create Patient Account
        </h2>
        </center>
        <br />

        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Enter First Name: {{form1.first_name}}</div>
        <div class="col">Enter Last Name: {{form1.last_name}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
        <div class="col">Enter Relationship: {{form2.relationship}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Enter Username: {{form1.username}}</div>
        <div class="col">Enter Email: {{form1.email}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
        <div class="col">Enter Password: {{form1.password1}}</div>
        </div>
        <br />
        <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
        <div class="col">Confirm Password: {{form1.password2}}</div>
        </div>
        <br />
        <br />
        
    </div>
    {% if form1.errors %} {% for key, value in form1.errors.items %}
    <div
      class="alert alert-danger alert-dismissable fade show reg-error"
      role="alert"
    >
      <strong>Error!</strong> {{value|striptags}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %} {% endif %}
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button id="submit_button" type="submit" class="btn btn-primary">Create Account</button>
    </div>
</form>

      



{% endblock %}