{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %} {% load auth_extras %}
<form method="post" action="{% url 'reschedule-appointment' pk %}">
    {% csrf_token %}
        <div class="row" style="margin-left: 15%; margin-right: 15%">
        </div>
        <br />
        <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
        <div class="col">Requested Appointment Date: {{form.date}}</div>
        </div>
        <br />
        <br />
        <div class="row" style="margin-left: 15%; margin-right: 15%">
        <div class="col">Select Location: {{form.location}}</div>
        <div class="col">Select Time: {{form.time}}</div>
        <div class="col">Reason for Visit: {{form.visit}}</div>
    </div>

    <button id="submit_button" type="submit" class="btn btn-primary">Set Appointment</button>


</form>



{%endblock%}