{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %}

<br>
<br />
<br />

<div class="container">
<br>
<!-- search filters-->
<div class="row">
	<div class="col-sm-4">
		<div class="card card-body" style="width: 20rem;">
			<h3 class="card-title">Search Patient</h3>
			<br />
			<form method="get">
				<div class="mb-3"><label for="floatingInput1">Record No.:</label>
				<input class="form-control form-control-sm" id="floatingInput1" type="number" placeholder="Record No." aria-label=".form-control-sm example" name="id">
				</div>
				<div class="mb-3"><label for="floatingInput2">Date of Birth:</label>
				<input class="form-control form-control-sm" id="floatingInput2" type="text" placeholder="mm/dd/yyyy" aria-label=".form-control-sm example" name="bday">
				</div>
				<div class="mb-3"><label for="floatingInput3">First Name:</label>
				<input class="form-control form-control-sm" id="floatingInput3" type="text" placeholder="First Name" aria-label=".form-control-sm example" name="first_name">
				</div>
				<div class="mb-3"><label for="floatingInput4">Last Name:</label>
				<input class="form-control form-control-sm" id="floatingInput4" type="text" placeholder="Last Name" aria-label=".form-control-sm example" name="last_name">
				</div>
		    <button class="btn btn-primary" type="submit">
				<i class="fas fa-search"></i>
				Search</button>
		  </form>

		</div>
	</div>
	

	<!-- create button -->
	<div class="col-sm-8">

		<!-- search results -->
		<div class="card card-body">
			<h5 class="card-title">Results
				<div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="{% url 'register-patient' %}">
					<button class="btn btn-sm btn-outline-dark" >
						<i class="fas fa-folder-plus fa-lg"></i> 
						Create New Account
					</button>
					</a>
				</div>
			</h5>
			<table class="table table-primary table-striped table-bordered table-sm table-hover">
					<tr>
						<th>Record #</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Date of Birth</th>
					</tr>

					{% for patient in patients %}

					<tr>
						<td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.id}}</a></td>
						<td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.first_name}}</a></td>
						<td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.last_name}}</a></td>
						<td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.bday|date:"m/d/Y"}}</a></td>
					</tr>
					{% endfor %}

			</table>
					<div class="d-grid gap-2 d-md-flex justify-content-md-end">
						<a href="{% url 'search-patient' %}"
						<button class="btn btn-danger">
							<i class="fas fa-times"></i>
							Clear Search</button></a>
					</div>

			
		</div>
		
	</div>

</div>

</div>
      


{% endblock %}