{% extends 'vaccinerecordapp/navbar.html' %} {% block content %} {% load static %}
<button
class="btn btn-sm"
data-bs-toggle="modal"
data-bs-target="#create-patient"
style="color: black"
> Create Patient Account </button>

<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th colspan="2"></th>
      </tr>
  </thead>
  <tbody>

      {% for patient in patients %}

      <tr>
          <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.last_name}}, {{patient.first_name}}</a></td>
          <td> <a href="{% url 'patient-profile' patient.id %}" >{{patient.username}}</a></td>
          <td>
              <a href="#" class="btn btn-outline-dark">
                  <i class="fas fa-edit"></i>
                  Update Patient
              </a>
          </td>
          <td>

              <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#">
                  <i class="fas fa-trash"></i>
                  Delete Patient
              </button>

          </td>
      </tr>

      {% endfor %}

  </tbody>

</table>

<div class="modal fade" id="create-patient">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form action="{% url 'create-patient' %}" method="post">
            <div class="modal-body" style="color: black">
                {% csrf_token %}
                <center>
                <br />
                <h2> Create Patient Account
                </h2>
                </center>
                <br />

                <div class="row" style="margin-left: 15%; margin-right: 15%">
                <div class="col">Enter First Name: {{form1.first_name}}</div>
                <div class="col">Enter Last Name: {{form1.last_name}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Relationship: {{form2.relationship}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Username: {{form1.username}}</div>
                <div class="col">Enter Email: {{form1.email}}</div>
                </div>
                <br />
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Enter Password: {{form1.password1}}</div>
                </div>
                <br />
                <div class="row" style="width: 50%; margin-left: 15%; margin-right: 15%">
                <div class="col">Confirm Password: {{form1.password2}}</div>
                </div>
                <br />
                <br />
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button id="submit_button" type="submit" class="btn btn-primary">Create Account</button>
            </div>
        </form>
      </div>
    </div>
  </div>

  {% for message in messages %} {% if message.tags == 'success' %}

      {% else %}
      {{message | striptags}}
      {% endif %} {% endfor %}


{% endblock %}